[Unit]
Description=Spotify index and classifier
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m pipenv run python ./sp.py
WorkingDirectory=/home/pi/spotify_classifier
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

