body {
  background-color: black;
  color: #DFF;
}

#settings {
  text-align: right;
  z-index: 99;
  position: fixed;
  top: 25px;
  left: 25px;
  padding: 1px;
  border: 1px green solid;
  background: black;
}

#settings.settingsHidden {
  width: 15px;
  height: 17px;
  overflow: hidden;
}

#playctrls {
  z-index: 99;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 1px;
  border: 1px green solid;
  background: black;
}

#playctrls.somethingPlaying {
  width: 300px;
  height: 120px;
}

#playctrls.nothingPlaying {
  width: 190px;
  height: 70px;
  margin: 5px;
  padding: 5px;
}

#playctrls.nothingPlaying #playingNow_StatusImg { display: none; }
#playctrls.nothingPlaying #playingNow_status{ display: none; }

#playctrls #playingNow_StatusImg {
  float: left;
  width: 95px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#playctrls #playingNow_status {
  width: calc(100% - 110px);
  height: 40px;
  display: inline-block;
  margin-top: 5px;
}

#playctrls #playingNow_status div {
  display: block;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#playctrls button {
  width: 50px;
  font-size: 30px;
}

#playctrls #playctrls_vol {
  width: 140px;
}

#playctrls #playctrls_device {
  width: 40px;
  height: 15px;
}

#loading {
  z-index: 999;
  position: fixed;
  top: calc(50% - 75px/2);
  left: calc(50% - 75px/2);
  width: 75px;
  height: 75px;
  line-height: 75px;
  border: 1px green solid;
  background: black;
  text-align: center;
  display: none;
}

#error {
  z-index: 999;
  position: fixed;
  bottom: 50px;
  left: 5%;
  width: 90%;
  height: 150px;
  padding: 20px;
  border: 1px red solid;
  background: black;
  display: none;
}

a {
  color: #DFF;
  text-decoration: none;
}

.idx li {
  display: inline-flex;
  padding-right: 20px;
  white-space: nowrap;
}

.arts li {
  display: inline-block;
  border: 1px black solid;
  margin: 5px;
  width: 200px;
  height: 225px;
  text-align: center;
}

.arts li .expandView {
  z-index: 9;
  cursor: crosshair; 
  display: inline;
  position: absolute;
  width: 95px;
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.arts li.selected .expandView {
  position: relative;
  float: right;
  width: 100%;
}

.arts li a {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.arts li img {
  display: flex;
  width: 200px;
  height: 200px;
  padding-bottom: 5px;
  border-radius: 50px;
}

.arts li.selected {
  border: 1px gray solid;
  display: block;
  width: 100%;
  height: auto;
}

.arts li.selected a {
  display: block;
  width: 200px;
  overflow: visible;
  font-weight: bold;
  font-size: 25px;
}

.arts li div {
  display: none;
}

.arts li div.selected {
  display: block;
}

.arts li div ul.albums {
}

.arts li div li.album_info{
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.arts li div li.album_info a {
  text-align: center;
  font-size: 15px;
}

.arts li.selected p.genresList {
  display: inline;
}
.arts li.selected ul.genresList {
  display: inline;
}
.arts li.selected .genresList li {
  display: inline;
}
.arts li.selected .genresList a {
  display: inline;
  font-weight: unset;
  font-size: initial;
}

