body {
  background-color: black;
  color: #DFF;
}

a {
  color: #DFF;
  text-decoration: none;
}

.idx li {
  display: inline-flex;
  padding-right: 20px;
  white-space: nowrap;
}

.arts li {
  display: inline-block;
  border: 1px black solid;
  margin: 5px;
  width: 200px;
  height: 225px;
  text-align: center;
}

.arts li a {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.arts li img {
  display: flex;
  width: 200px;
  height: 200px;
  padding-bottom: 5px;
  border-radius: 50px;
}

