body {
  background-color: black;
  color: #DFF;
}

a {
  color: #DFF;
  text-decoration: none;
}

.idx li {
  display: inline-flex;
  padding-right: 20px;
  white-space: nowrap;
}

.arts li {
  display: inline-block;
  border: 1px black solid;
  margin: 5px;
  width: 200px;
  height: 225px;
  text-align: center;
}

.arts li .expandView {
  cursor: crosshair; 
  display: inline;
  position: absolute;
  width: 95px;
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.arts li.selected .expandView {
  position: relative;
  float: right;
  width: 100%;
}

.arts li a {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.arts li img {
  display: flex;
  width: 200px;
  height: 200px;
  padding-bottom: 5px;
  border-radius: 50px;
}

.arts li.selected {
  border: 1px gray solid;
  display: block;
  width: 100%;
  height: auto;
}

.arts li.selected a {
  display: block;
  width: 200px;
  overflow: visible;
  font-weight: bold;
  font-size: 25px;
}

.arts li div {
  display: none;
}

.arts li div.selected {
  display: block;
}

.arts li div ul.albums {
}

.arts li div li.album_info{
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.arts li div li.album_info a {
  text-align: center;
  font-size: 15px;
}

.arts li.selected p.genresList {
  display: inline;
}
.arts li.selected ul.genresList {
  display: inline;
}
.arts li.selected .genresList li {
  display: inline;
}
.arts li.selected .genresList a {
  display: inline;
  font-weight: unset;
  font-size: initial;
}

